* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(239, 229, 218);
    color: rgb(55, 45, 38);
    font-family: Arial, sans-serif;
}

/* NAVBAR */
nav {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6%;
    border-bottom: 1px solid rgb(190, 177, 164);
}

.logo {
    font-size: 25px;
    letter-spacing: 4px;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu a {
    color: rgb(55, 45, 38);
    text-decoration: none;
    font-size: 14px;
}

/* HERO */
.story-hero {
    min-height: 500px;
    padding: 130px 10%;
    background-color: rgb(74, 56, 44);
    color: rgb(239, 229, 218);
}

.story-hero h1 {
    font-family: Georgia, serif;
    font-size: 55px;
    font-weight: normal;
    margin: 25px 0;
}

.story-hero p:first-child {
    font-size: 13px;
    letter-spacing: 3px;
}

.intro {
    max-width: 500px;
    line-height: 1.8;
}

/* STORY */
.story-content {
    display: flex;
    gap: 30px;
    padding: 100px 8%;
}

.story-box {
    flex: 1;
    padding: 35px;
    border-top: 1px solid rgb(110, 91, 76);
}

.story-box h2 {
    font-family: Georgia, serif;
    font-weight: normal;
    margin-bottom: 20px;
}

.story-box p {
    line-height: 1.8;
}

/* PAGE TITLE */
.page-title {
    text-align: center;
    padding: 100px 20px 70px;
}

.page-title p:first-child {
    font-size: 12px;
    letter-spacing: 3px;
}

.page-title h1 {
    font-family: Georgia, serif;
    font-size: 50px;
    font-weight: normal;
    margin: 20px 0;
}

.page-title p:last-child {
    max-width: 500px;
    margin: auto;
    line-height: 1.7;
}

/* CONTACT */
.contact-section {
    display: flex;
    gap: 100px;
    max-width: 1100px;
    margin: auto;
    padding: 50px 30px 120px;
}

.contact-info h2 {
    font-family: Georgia, serif;
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 20px;
}

.contact-info>p {
    line-height: 1.8;
    margin-bottom: 40px;
}

.info {
    margin-top: 25px;
}

.info h4 {
    margin-bottom: 8px;
    letter-spacing: 1px;
}

form {
    flex: 1;
}

form lable {
    display: block;
    margin-bottom: 8px;
    font-size: 13px;
}

input,
textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(110, 91, 76);
    background: transparent;
    padding: 12px 5px;
    margin-bottom: 25px;
    outline: none;
    font-size: 14px;
}

textarea {
    height: 120px;
    resize: none;
}

button {
    background-color: rgb(74, 56, 44);
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    letter-spacing: 1px;
}

/* TERMS */
.terms {
    max-width: 900px;
    margin: auto;
    padding: 20px 30px 120px;
}

.terms div {
    padding: 35px 0;
    border-top: 1px solid rgb(190, 177, 164);
}

.terms h2 {
    font-family: Georgia, serif;
    font-weight: normal;
    margin-bottom: 15px;
}

.terms p {
    line-height: 1.8;
    max-width: 700px;
}
/* FOOTER */
footer {
    background-color: rgb(55, 45, 38);
    color: rgb(239, 229, 218);
    display: flex;
    justify-content: space-between;
    padding: 70px 8%;
    gap: 40px;
}
footer div {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
footer h3 {
    letter-spacing: 4px;
}
footer h4 {
    font-size: 12px;
    letter-spacing: 2px;
}
footer a {
    color: rgb(239, 229, 218);
    text-decoration: none;
    font-size: 13px;
}
footer p {
    font-size: 13px;
}
